.portfolio_con {
    max-width: 1170px;
    height: 900px;
    background-color: #fff;
    text-align: center;
    overflow: hidden;
    margin: 0 auto;
}

.portfolio_title {
    margin-top: 45px;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}

.portfolio_list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.portfolio_items {
    margin-top: 60px;
}

.portfolio_items img {
    width: 300px;
    height: 300px;
    border-radius: 20px;
    object-fit: cover;
}
.p {
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0;
}

@media screen and (max-width:480px) {
  .portfolio_con{
    height: auto;
    margin: 30px 0;

    .portfolio_list {
      grid-template-columns: 1fr;
      padding: 20px;

      .portfolio_items{
        width: 100%;

        img{
          width: 100%;
        }
      }
    }


  }
}

